@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*-------textos-----*/
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }
  .texto.responsive {
    text-align: justify; } }

/*--------------main------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f0df; }

.container-flow {
  min-height: 100%; }

main {
  padding-bottom: 100px; }

/*--------Menú-----*/
.topnav {
  background-color: #f7ecb0;
  overflow: hidden;
  z-index: 1; }

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: #0c1110;
  color: white; }

.topnav a.active {
  background-color: #0c1110;
  color: white; }

.topnav .icon {
  display: none; }

/*--------Títulos-----*/
h1 {
  color: #0c1110;
  font-weight: bold;
  text-align: center;
  font-weight: 600;
  padding: 30px;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase; }

h3 {
  color: #0c1110;
  font-weight: bold;
  font-weight: 600;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #f7ecb0; }

.texto {
  font-size: 12px;
  padding: 15px;
  text-align: center; }

span {
  font-weight: bold; }

/*Index-------------------*/
#boton {
  background-color: #0c1110;
  border-color: #0c1110;
  color: white;
  padding: 10px; }

#boton:hover {
  background-color: #f7ecb0; }

#carrusel {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-items: center;
  align-items: center; }

.bienServido img {
  padding: 20px;
  max-width: 100%;
  height: auto;
  display: flex; }

/*Serigrafia-------------------*/
p {
  font-size: 20px;
  color: #0c1110; }

.galeria_1 {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: wrap; }

.galeria_1 img {
  max-width: 100%;
  height: auto;
  padding: 15px;
  max-width: 350px;
  height: auto; }

.galeria_1:hover {
  transform: scale(1.1);
  cursor: pointer; }

.portadas {
  background-color: #f7ecb0;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.colecciones img, video {
  max-width: 100%;
  height: auto;
  padding: 15px; }

.colecciones:hover {
  transform: scale(1.1); }

/*Ilustraciones-------------------*/
#ilustraciones img:hover {
  transform: scale(1.1); }

.flexIlustracion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .flexIlustracion img {
    width: 100%;
    height: auto;
    padding: 15px; }

#ilustraciones a {
  text-decoration: none;
  color: #0c1110;
  font-weight: bold; }

/*Tatuajes-------------------*/
.galeria img:hover {
  transform: scale(1.1); }

.galeria video:hover {
  transform: scale(1.1); }

/*Contacto--------------------------------*/
#formulario {
  margin: 20px;
  padding: 20px; }
  #formulario input[type=text], #formulario select, #formulario textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  #formulario label {
    padding: 12px 12px 12px 12px;
    display: inline-block; }
  #formulario input[type=submit] {
    background-color: black;
    color: white;
    padding: 10px; }

/*Footer--------------------------------*/
#footer {
  bottom: 0;
  width: 100%;
  background-color: #f7ecb0;
  padding: 10px;
  overflow: hidden;
  height: 300px;
  display: block;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }
  #footer img {
    max-width: 100%;
    height: auto; }
  #footer a {
    color: #0c1110;
    text-decoration: none;
    padding: 15px; }
  #footer i {
    padding: 15px;
    align-items: center;
    justify-items: center; }
  #footer h3 {
    background-color: #0c1110;
    color: white; }

/*Media Querys--------------------------------*/
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

@media screen and (max-width: 768px) {
  [class*="col-md-6"] {
    width: 100%; }
  .texto {
    text-align: center;
    font-size: 30px; }
  #carrusel {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center; }
  #footer {
    bottom: 0;
    width: 100%;
    background-color: #f7ecb0;
    padding: 10px;
    height: 300px;
    display: block;
    margin: auto;
    text-align: center; }
    #footer img {
      display: none; } }
