@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
/*-------textos-----*/
/*----- RESPONSIVE ------*/
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

/*-------textos y titulos-----------*/
@media screen and (max-width: 768px) {
  .texto {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 15px; }
  h3 {
    color: #0c1110;
    font-weight: bold;
    text-align: center;
    font-weight: 600;
    margin: 15px;
    padding: 15px;
    font-size: 5px;
    letter-spacing: 4px; }
  h1 {
    padding: 25px; }
  /*--------Footer----*/
  #footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7ecb0;
    text-align: center;
    padding: 15px; }
  .logo {
    max-width: 100px; }
  .flexTatuajes video {
    padding: 15px; }
  /*----serigrafia------*/
  .galeria_1 img {
    padding: 15px; } }

/*-----FIN RESPONSIVE-------*/
/*--------------main------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f0df; }

.container-flow {
  min-height: 100%; }

main {
  padding-bottom: 100px; }

header {
  height: 100px;
  backgroud-color: #f7ecb0; }

/*--------Títulos-----*/
h1 {
  color: #0c1110;
  font-weight: bold;
  text-align: center;
  font-weight: 600;
  padding: 15px;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase; }

h3 {
  color: #0c1110;
  font-weight: bold;
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #f7ecb0; }

.texto {
  padding: 15px;
  text-align: center; }

span {
  font-weight: bold; }

.topnav {
  background-color: #f7ecb0;
  overflow: hidden;
  z-index: 1; }

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: #0c1110;
  color: white; }

.topnav a.active {
  background-color: #0c1110;
  color: white; }

.topnav .icon {
  display: none; }

/*------Menú----------------


#menu {
  top: 0px;
  text-align: right;
  display: flex;
  flex-flow: row wrap;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: $color-destacar;
    
    li {
      
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1pt;
      padding-top: 16px;
      padding: 16px 22px;

      a {
        text-decoration: none;
        color: white;

        
      }

    }
  }
}

.menuPrincipal {
 z-index: 1;

}

li:hover {
  
  background: $color-textos;
}

a:active {

 background: $color-textos;
}
*/
/*Index-------------------*/
#boton {
  background-color: #0c1110;
  border-color: #0c1110; }
  #boton #boton:hover {
    background-color: #f7ecb0; }

#carrusel {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px; }

.bienServido img {
  padding: 20px;
  max-width: 100%;
  height: auto; }

/*Serigrafia-------------------*/
p {
  font-size: 20px;
  color: #0c1110; }

.galeria_1 {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: wrap; }

.galeria_1 img {
  max-width: 100%;
  height: auto;
  padding: 15px;
  max-width: 350px;
  height: auto; }

.galeria_1:hover {
  transform: scale(1.1);
  cursor: pointer; }

.portadas {
  background-color: #f7ecb0;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.colecciones img, video {
  max-width: 100%;
  height: auto;
  padding: 15px; }

.colecciones:hover {
  transform: scale(1.1); }

/*Ilustraciones-------------------*/
#ilustraciones img:hover {
  transform: scale(1.1); }

.flexIlustracion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .flexIlustracion img {
    max-height: 500px;
    width: auto;
    padding: 15px; }

/*Tatuajes-------------------*/
.galeria img:hover {
  transform: scale(1.1); }

.galeria video:hover {
  transform: scale(1.1); }

/*Contacto--------------------------------*/
#formulario {
  margin: 20px;
  padding: 20px; }
  #formulario input[type=text], #formulario select, #formulario textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
    #formulario input[type=text] label, #formulario select label, #formulario textarea label {
      padding: 12px 12px 12px 0;
      display: inline-block; }
      #formulario input[type=text] label input[type=submit], #formulario select label input[type=submit], #formulario textarea label input[type=submit] {
        background-color: black;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right; }

/*--------Footer----*/
#footer {
  bottom: 0;
  width: 100%;
  background-color: #f7ecb0;
  padding: 10px;
  overflow: hidden;
  height: 200px;
  display: block;
  margin: auto; }

.instagram {
  max-width: 50px;
  height: auto; }

.linkedin {
  max-width: 40px;
  height: auto; }

.logo {
  max-width: 200px;
  height: auto;
  background-color: #0c1110;
  padding-left: 20px; }

.paginas {
  display: flex;
  flex-direction: row;
  padding: 15px; }
  .paginas a {
    text-decoration: none;
    color: #0c1110;
    font-weight: bold;
    font-weight: 600;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 4px; }
    .paginas a img {
      text-decoration: none;
      padding: 5px; }
