@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "variables"; 

/*--------------main------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f0df;
  
}

.container-flow {
  min-height: 100%;
}

main {
  
  padding-bottom: 100px;
}

/*--------Menú-----*/

.topnav {
  background-color: $color-destacar;
  overflow: hidden;
  z-index: 1;

 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
}


.topnav a:hover {
  background-color: $color-textos;
  color: white;
}


.topnav a.active {
  background-color: $color-textos;
  color: white;
}

.topnav .icon {
  display: none;
}



/*--------Títulos-----*/

h1 {
  color: $color-textos;
  font-weight: bold;
  text-align: center;
  font-weight: 600;
  
  padding: 2%;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
      color: $color-titulos;
      font-weight: bold;
      font-weight: 600;
      padding: 2%;
      font-size: 15px;
      letter-spacing: 4px;
      text-align: center;
      background-color: $color-destacar;
}

.texto {
 
font-size: 18px;
padding: 2%;
text-align: center;

}


span {

background-color: $span;

}


/*Index-------------------*/

#boton {
  
  background-color: $color-textos;
  border-color: $color-textos;
  color: white;
  padding: 2%;
}

#boton:hover {
  
background-color: $color-destacar;
}


#carrusel  {
max-width: 100%;
height:auto;
overflow: hidden;
padding: 5%;
display: flex;
justify-content: center;
align-items: center;
}

 .bienServido {

max-width: 100%;
height: auto;



  img{
  
  padding: 2%;
  max-width: 100%;
  height: auto;
  display: flex;
 justify-content: center;
align-content: center;
  
}
}


/*Serigrafia-------------------*/

.galeria_1 {
  
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  

img {

padding: 5%;
max-width: 70%;
height: auto;

}
   }



.portadas {

background-color: $color-destacar;
 font-size: $texto-intro;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.colecciones img, video {
  
max-width: 100%;
height: auto;
padding: 3%;


}

.colecciones:hover {

transform: scale(1.1);

}




/*Ilustraciones-------------------*/

#ilustraciones img:hover {
  transform: scale(1.1);
}

.flexIlustracion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-item: center;

  img {

    max-width: 100%;
    height: auto;
    padding: 3%;

  }

}

#ilustraciones a {
  

text-decoration: none;
color: $color-textos;


}



/*Tatuajes-------------------*/

.galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/*Contacto--------------------------------*/



#formulario {
  margin: 20px;
  padding: 2%;



input[type=text], select, textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

}

label {
  padding: 2% ;
  display: inline-block;
}

input[type=submit] {
 background-color: black;
color: white;
padding: 2%;

}

}




/*Footer--------------------------------*/

#footer {
  
  bottom: 0;
  width: 100%;
  background-color: $color-destacar;
  padding: 30px;
  overflow: hidden;
  height: 300px;
  display: block;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
   
img {
  
max-width: 100%;
height: auto;


}

a {


color: $color-textos;
text-decoration: none;
padding: 15px;


}

i {
  
padding: 15px;
align-items: center;
justify-items: center;

}


h3 {
  
background-color: $color-textos;
color: white;

}
}




/*Media Querys--------------------------------*/

/*Menú--------------------------------*/

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

/*Index--------------------------------*/

@media screen and (max-width: 768px) {




[class*="colecciones"] {
    max-width: 50%;

}

[class*="imgResponsive"] {
    max-width: 33%;
    display: flex;
    justify-items: center;
      align-items: center;

}


#carrusel  {
max-width: 100%;
height:auto;
overflow: hidden;
padding: 20px;
display: flex;
justify-items: center;
align-items: center;
}

.texto {
    text-align: center;
    font-size: 15px;

  }

h1 {
  
  font-size: $titulo-responsive;
}

h3 {

  font-size: 12px;

}

 #footer {
  
  bottom: 0;
  width: 100%;
  background-color: $color-destacar;
  padding: 15px;
  height: 300px;
  display: block;
  margin: auto;
  text-align: center;


img {
  
 display: none;
}
}
}


/*Tatuajes--------------------------------*/

@media screen and (max-width: 800px) {

  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .esconder {

display: none;

  }

 }








