@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import "variables"; 




/*----- RESPONSIVE ------*/

@media only screen and (max-width: 768px) {

/*----- Menú ------*/
#menu {
  text-align: center;
  position: fixed;
  z-index: 1;

}
  
ul {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: $color-destacar;
}
    
li {
      
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1pt;
      padding: 30px;
}
a {
        text-decoration: none;
        color: $color-textos;
        font-size: 10px;
}
/*-------textos y titulos-----------*/
.texto {

  font-size: $texto-responsive;
  text-align: center;
   display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding: 15px;

}

h3 {
      color: #0c1110;
      font-weight: bold;
      text-align: center;
      font-weight: 600;
      margin: 15px;
      padding: 15px;
      font-size: 5px;
      letter-spacing: 4px;
}

h1 {
  
  padding: 25px;
}

/*--------Footer----*/
#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-destacar;
  text-align: center;
  padding: 15px;
}
.logo {
  

  max-width: 100px;
}
.flexTatuajes video {
  padding: 15px;

}


/*----serigrafia------*/

.galeria_1 img {

padding: 15px;

}

}
/*-----FIN RESPONSIVE-------*/

/*--------------main------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f0df;
  
}

.container-flow {
  min-height: 100%;
}

main {
  
  padding-bottom: 100px;
}

header {
  
  height: 100px;
  backgroud-color: $color-destacar;

}

/*--------Títulos-----*/

h1 {
  color: #0c1110;
  font-weight: bold;
  text-align: center;
  font-weight: 600;
  
  padding: 15px;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
      color: #0c1110;
      font-weight: bold;
      font-weight: 600;
      padding: 15px;
      font-size: 14px;
      letter-spacing: 4px;
      background-color: $color-destacar;
}

.texto {
  
padding: 15px;
text-align: center;

}

span {

font-weight: bold;

}


/*------Menú----------------*/


#menu {
  top: 0px;
  text-align: right;
  display: flex;
  flex-flow: row wrap;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: $color-destacar;
    
    li {
      
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1pt;
      padding-top: 16px;
      padding: 16px 22px;

      a {
        text-decoration: none;
        color: white;

        
      }

    }
  }
}

.menuPrincipal {
 z-index: 1;

}

li:hover {
  
  background: $color-textos;
}

a:active {

 background: $color-textos;
}







/*Index-------------------*/

#boton {
  
  background-color: $color-textos;
  border-color: $color-textos;

#boton:hover {
  
background-color: $color-destacar;
}

}


#carrusel  {
max-width: 100%;
height:auto;
overflow: hidden;

}

/*Serigrafia-------------------*/


p {
      font-size: $texto-intro;
      color: $color-textos;
}


.galeria_1 {
  
  position: relative;
  text-align: center;
}
 

.galeria_1 img {

max-width: 350px;
height: auto;
padding: 15px;
  
  }



.galeria_1:hover {
    transform: scale(1.1);
  }



.coleccion_1 {

background-color: $color-destacar;
 font-size: $texto-intro;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}




/*Ilustraciones-------------------*/

#ilustraciones img:hover {
  transform: scale(1.1);
}

.flexIlustracion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  img {
    max-height: 500px;
    width: auto;
    padding: 15px;

  }
}



/*Tatuajes-------------------*/


.galeria img:hover {
  transform: scale(1.1);
}
  .galeria video:hover {

    transform: scale(1.1);
  }



/*Contacto--------------------------------*/



#formulario {
  margin: 20px;
  padding: 20px;

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;


label {
  padding: 12px 12px 12px 0;
  display: inline-block;

input[type=submit] {
  background-color: black;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
      }
    }
  }
}




/*--------Footer----*/

#footer {
  
  bottom: 0;
  width: 100%;
  background-color: $color-textos;
  padding: 10px;
  overflow: hidden;
  height: 200px;
  display: block;
  margin: auto;
   
}

.instagram {
max-width: 50px;
height: auto;

}

.linkedin {
  
max-width: 40px;
height: auto;

}

.logo {
  
max-width: 200px;
height: auto;
display: flex;
align-items: center;


}